<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="navbar-brand">
      <a href="#" class="navbar-brand"> JOB TRACKER
        <img src="https://storage.needpix.com/rsynced_images/www-1632431_1280.png" class="img-responsive" style="max-height: 30px; max-width: 30px;" alt="logo"> </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/home" *ngIf="isAuthenticated">Home</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/myjobs" *ngIf="isAuthenticated">My Jobs</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/profile" *ngIf="isAuthenticated">My Profile</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/auth" *ngIf="!isAuthenticated">Authentication</a></li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isAuthenticated">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Log out</a>
        </li>
      </ul>
    </div>
</nav>
