<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10">
              <h1 style="text-align: center;"><b>User name</b></h1>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-3">        
                <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload">
                </div>
            </div>
    <div class="col-sm-9">
          <div>
            <div>
                  <form class="form" action="##" method="post" id="registrationForm">
                        <div>
                            <h2 style="text-align: center;">Personal</h2>
                        </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="email"><h4>Country</h4></label>
                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify Password</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password.">
                          </div>
                      </div>
                        <div>
                          <h2 style="text-align: center;">Education</h2>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="degree"><h4>Latest Degree</h4></label>
                                <input type="text" class="form-control" id="degree" placeholder="degree" title="enter recent degree.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="university_name"><h4>University Name</h4></label>
                                <input type="text" class="form-control" name="university_name" id="university_name" placeholder="password" title="enter your university name.">
                            </div>
                        </div>
                        <div>
                            <h2 style="text-align: center;">Profession</h2>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="company_nam"><h4>Current/Last Company Name</h4></label>
                                <input type="text" class="form-control" id="company_name" placeholder="company_name" title="current/Last Company Name, if any.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="role"><h4>Role</h4></label>
                                <input type="text" class="form-control" name="role" id="role" placeholder="role" title="your role in the company.">
                            </div>
                        </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
          </div>
        </div>
    </div>
