<div id="home" class="carousel slide" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#home" data-slide-to="0" class="active"></li>
      <li data-target="#home" data-slide-to="1"></li>
      <li data-target="#home" data-slide-to="2"></li>
    </ul>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-responsive" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/41181726_10156136440167562_1311202607221440512_o.png?_nc_cat=103&_nc_sid=730e14&_nc_ohc=V08sInRziycAX8yQD4-&_nc_ht=scontent-lga3-1.xx&oh=159be792f756ccf4f97a32ccbf4fae94&oe=5F0A40D1" alt="ibmhiring" width="100%" height="400">
      </div>
      <div class="carousel-item">
        <img class="img-responsive" src="https://pbs.twimg.com/media/ESSVGQEXYAAMyJr?format=jpg&name=medium" alt="nttdata" width="100%" height="400">
      </div>
      <div class="carousel-item">
        <img class="img-responsive" src="https://content.techgig.com/thumb/msid-74191662,width-860,resizemode-4/Looking-for-a-job-change-Amazon-India-is-hiring-techies.jpg?131452" alt="amazonjob" width="100%" height="400">
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#home" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#home" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>
  <div class="container">

    <h1 class="my-4">Welcome to Job Tracker </h1>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Connect With Recruiters</h4>
          <div class="card-body">
            <p class="card-text">Connect with recruiters around the world. Communicate with top recruiters from top-ranked organizations.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#Modal1">
                Learn More
              </button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Connect With Recruiters</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Connect with recruiters around the world. Communicate with top recruiters from top-ranked organizations.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Job Posting Management</h4>
          <div class="card-body">
            <p class="card-text">One can create, apply, manage various job positings. Apply for top-ranked organization job postingss. </p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#Modal2">
                Learn More
              </button>
          </div>
        </div>
      </div>
    
      <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="Modal2" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Job Posting Management</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                One can create, apply, manage various job positings. Apply for top-ranked organization job postingss.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Job Application Status Management</h4>
          <div class="card-body">
            <p class="card-text">One can also manage or keep track to the job application status. Notification also available for any change in application status. </p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#Modal3">
                Learn More
              </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="Modal3" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Job Application Status Management</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                One can also manage or keep track to the job application status. Notification also available for any change in application status.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <h2>Meet Recruiters From Various Organization</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://cortlandcredit.ca/wp-content/uploads/2019/03/Jeff-M-Edit-700x400.jpg" alt=""></a>
          <div class="card-body">
            <h3 class="card-title">
              Mr. John Doe
            </h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://cortlandcredit.ca/wp-content/uploads/2019/03/Cathy_P-700x400.jpg" alt=""></a>
          <div class="card-body">
            <h3 class="card-title">
              Ms. Florence T. Lentini
            </h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://cortlandcredit.ca/wp-content/uploads/2015/07/James.jpg" alt=""></a>
          <div class="card-body">
            <h3 class="card-title">
              Mr. Abe T. Dunn
            </h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://cortlandcredit.ca/wp-content/uploads/2015/07/Karen.jpg" alt=""></a>
          <div class="card-body">
            <h3 class="card-title">
              Mrs. Angel R. Scott
            </h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://cortlandcredit.ca/wp-content/uploads/2020/01/Annette-Headshot-700x400.jpg" alt=""></a>
          <div class="card-body">
            <h3 class="card-title">
              Ms. Julie D. Keys
            </h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://cortlandcredit.ca/wp-content/uploads/2015/07/Sean.jpg" alt=""></a>
          <div class="card-body">
            <h3 class="card-title">
              Mr. Steve E. Borders
            </h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>